:root {
  --primary-background: #f3f4f7;
  --input-background-color: rgba(206, 228, 248, 0.9);
  --error-toast-background-color: #bd3630;
  --success-toast-background-color: #51a351;
  --primary-text-color: rgba(53, 75, 96, 0.9);
  --secondary-text-color: #5d5d5d;
  --placeholder-text-color: #6d6d6d;
  --button-linear-background: linear-gradient(
    90deg,
    #334e6e 0%,
    #526d8d 53%,
    rgba(147, 181, 212, 0.9) 100%
  );
  /* --primary-background: #FFFFFF;
  --input-background-color: #f2eded;
  --primary-text-color: #000000;
  --secondary-text-color: #5D5D5D;
  --placeholder-text-color: #6D6D6D; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

input:focus {
  border: none;
  outline: none;
}

.app {
  background: var(--primary-background);
  color: var(--primary-text-color);
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  height: 100px;
  padding: 0 100px;
}

.app-logo-link > img {
  width: 160px;
  margin: 8px 0;
}

.sign-up-btn {
  border: none;
  border-radius: 4px;
  background: rgb(166, 55, 129);
  background: var(--button-linear-background);
  color: #ffffff;
  padding: 12px 32px;
  cursor: pointer;
  font-weight: bold;
}

.sign-up-btn:focus {
  border: none;
  outline: none;
}

/* App body */

.app-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-title {
  font-size: 32px;
  font-weight: bold;
  color: #466182;
}

.body-subtitle {
  color: var(--secondary-text-color);
}

.body-login-group {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.local-login-input-group {
  position: relative;
}

.local-login-input {
  width: 320px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 8px 0;
  background: var(--input-background-color);
  color:#ffffff;
  padding: 0 40px 0 16px;
}

input.local-login-input:-webkit-autofill,
input.local-login-input:-webkit-autofill:hover,
input.local-login-input:-webkit-autofill:focus,
input.local-login-input:-webkit-autofill:active {
  background: var(--input-background-color);
}

.local-login-input::placeholder {
  color: var(--placeholder-text-color);
}

.local-login-input-group > i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.local-submit-input {
  cursor: pointer;
  text-align: left;
  /* color: #FFFFFF; */
  background: var(--button-linear-background);
}

.local-submit-input-group > i {
  right: 16px;
}

.body-login-slash {
  font-weight: 500;
  font-size: 20px;
  margin: 0 36px;
  color: #5d605f;
}

.social-login-btn {
  width: 320px;
  height: 50px;
  margin: 16px 0;
  color: var(--primary-text-color);
  padding: 0 40px 0 16px;
  display: flex;
  align-items: center;
  border: 1px solid #60341c;
  border-radius: 5px;
}

.social-login-btn:hover {
  color: var(--primary-text-color);
}

.social-login-btn > i {
  margin-right: 16px;
  width: 16px;
}

.social-login-btn:first-child,
.social-login-btn:last-child {
  border-color: #3f2a46;
}

.forgot-password-group {
  margin: 40px 0;
}

.forgot-password-group > a {
  color: #466182;
  text-decoration: underline;
}

.register-input {
  width: 100%;
  background: transparent;
  border: 1px solid #dddddd;
  color: #000000;
  height: 50px;
  border-radius: 5px;
  margin: 20px 0;
  padding: 0 40px 0 16px;
}

.register-input:focus {
  border: 1px solid #dddddd;
}

.register-submit-input {
  background: var(--button-linear-background);
  cursor: pointer;
  color: #ffffff;
}

.register-submit-input ~ i {
  color: #ffffff;
}

/* App footer */
.app-footer {
  height: 80px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: var(--secondary-text-color);
}

.login-error,
.register-error {
  color: red;
  font-size: 14px;
  display: none;
}

.toast,
.success-toast {
  width: 320px;
  position: fixed;
  top: 24px;
  right: 12%;
  transform: translateX(50%);
  background: var(--error-toast-background-color);
  padding: 8px 20px;
  color: var(--primary-text-color);
  transition: all 1s ease;
  border-radius: 4px;
  display: none;
}

.success-toast {
  z-index: 99999;
  background: var(--success-toast-background-color);
}
