:root {
  /* --primary-background: #161616;
   */
  --primary-background: #ffffff;
  --input-background-color: #222222;
  --error-toast-background-color: #bd3630;
  --success-toast-background-color: #51a351;
  --primary-text-color: #ffffff;
  --secondary-text-color: #5d5d5d;
  --placeholder-text-color: #6d6d6d;
  --button-linear-background: linear-gradient(
    90deg,
    rgba(166, 55, 129, 1) 0%,
    rgba(224, 47, 69, 1) 53%,
    rgba(253, 142, 76, 1) 100%
  );
  /* --primary-background: #FFFFFF;
  --input-background-color: #f2eded;
  --primary-text-color: #000000;
  --secondary-text-color: #5D5D5D;
  --placeholder-text-color: #6D6D6D; */
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #000;
  overflow: hidden;
}

a:hover {
  text-decoration: none;
}

input:focus {
  border: none;
  outline: none;
}

.app {
  background: var(--primary-background);
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  height: 100px;
  padding: 0 100px;
  border-bottom: 1px solid #ddd;
}

.app-logo-link > img {
  width: 160px;
  margin: 8px 0;
}

.app-body {
  margin-top: 40px;
}

.img-avatar {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.username {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.email {
  color: #000;
}

.user-profile {
  position: relative;
  margin: 0 40px;
  padding: 50px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-profile-btn {
  position: absolute;
  top: 32px;
  right: 32px;
}

.edit-profile-btn > i {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.delete-btn,
.join-btn {
  padding: 4px 24px;
}

.input-change-name-room {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 12px;
  width: 100%;
  display: none;
}

.input-change-name-room:focus {
  border: 1px solid #ccc;
}
