.login-wrap {
  width: 100%;
  font: 600 16px/18px 'Open Sans', sans-serif;
  margin: auto;
  max-width: 525px;
  min-height: 100vh;
  position: relative;
  background: url(https://i.pinimg.com/564x/95/3c/16/953c16ffd70db06009f5ea71e1dc0cef.jpg)
    no-repeat center;
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background: rgba(53, 75, 96, 0.9);
  /* background: #354B60; */
  /* opacity: 89%; */
}
.text-copy {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Amita';
  bottom: 20px;
  position: fixed;
  left: 20px;
}
.d-margin {
  margin-left: -15px !important;
}
.t-margin {
  margin-top: 10px;
}
.name-mail-user,
.change-mail-user {
  text-align: right;
  font-weight: bold;
}
.link-mail-user {
  font-style: italic;
  color: #354b60;
  font-weight: 700;
  text-decoration: none;
  font-size: 15px;
}
.link-mail-user:hover {
  text-decoration: none;
}
.t-margin-main {
  margin-top: 10px;
}
.img-avatar-mail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px solid #ddd;
}
.logo-web-index {
  width: 300px;
  height: 100%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #fff;
  border-color: #1161ee;
}
.login-form {
  width: 40%;
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 25px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: white;
  display: block;
  font-weight: 500;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group input[data-type='password'] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #466182;
}
.login-form .group .check:checked + label .icon {
  background: #354b60;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
  text-align: center;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
input:focus {
  outline: none;
}
.input-form {
  border: none;
  border-bottom: 0.1px solid #383838;
  width: 350px;
  height: 40px;
  padding: 10px;
}
.button-join {
  background-color: #466182;
  color: #ffffff;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  width: 100%;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Roboto';
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button-room {
  position: fixed;
  right: 0;
}

/* Style the buttons inside the tab */
.tabs a {
  display: block;
  background-color: inherit;
  color: #ffffff;
  padding: 30px 16px;
  width: 150px;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  right: 0;
}

/* Change background color of buttons on hover */
.tabs a:hover {
  background-color: #000000;
  opacity: 89%;
  text-decoration: none;
}

/* Create an active/current "tab button" class */
.tabs a.active {
  background-color: #ffffff;
  color: #354b60;
  opacity: 100% !important;
  z-index: 999;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.bar-icon {
  color: #ffffff;
  font-size: 30px;
  top: 0;
  position: fixed;
  padding-top: 20px;
  left: 20px;
}

.language {
  font-size: 24px;
  margin-left: 20px;
}
