<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Conference</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.min.css"
    integrity="sha512-ZYg+hQvLlM0W9C3P6vTpes5LmJ66G2EsroxDNzwD6qiulckldb29eD9I672HL2X+LH5nRhY1sQqZLJGB+aUUPg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/home.css">
</head>

<body>
  <div class="app">
    <div class="app-header d-flex align-items-center justify-content-between">
      <div class="font-weight-bold">
        <a href="/" class="text-white app-logo-link">
          <img src="assets/images/logo.png" alt="Logo" />
        </a>
      </div>
      <div>
        <button class="sign-up-btn" data-toggle="modal" data-target="#exampleModal">
          Sign up
        </button>
      </div>
    </div>
    <div class="app-body">
      <div class="body-title">Login to Your Account</div>
      <div class="body-subtitle">
        Join with more than 100,000 users in this platform.
      </div>
      <div class="body-login-group">
        <form>
          <div class="local-login-input-group">
            <input type="email" class="local-login-input" placeholder="Email" />
            <i class="far fa-user"></i>
          </div>
          <div class="local-login-input-group">
            <input type="password" class="local-login-input" id="local-input-password" placeholder="Password" />
            <i class="show-password-icon far fa-eye fa-eye-slash"></i>
          </div>
          <div class="local-login-input-group local-submit-input-group">
            <input type="submit" class="local-login-input local-submit-input" value="Login to your account" />
            <i class="fas fa-arrow-right"></i>
          </div>
        </form>
        <div class="body-login-slash">
          /
        </div>
        <div class="body-social-login">
          <a href="/social/auth/google" class="social-login-btn">
            <i class="fab fa-google"></i>
            <span>Sign in with Google</span>
          </a>
          <a href="/social/auth/facebook" class="social-login-btn">
            <i class="fab fa-facebook-f"></i>
            <span>Sign in with Facebook</span>
          </a>
          <a href="/social/auth/linkedin" class="social-login-btn">
            <i class="fab fa-linkedin-in"></i>
            <span>Sign in with LinkedIn</span>
          </a>
        </div>
      </div>
      <div class="forgot-password-group">
        <a href="#">
          Forgot Password?
        </a>
      </div>
    </div>
    <div class="app-footer">
      <div>
        Privacy Policy
      </div>
      <div>
        Copyright&copy;HP2021
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register new account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="/auth/register">
            <div class="local-login-input-group">
              <input name="email" type="email" class="register-input" placeholder="Email" />
              <i class="far fa-user"></i>
            </div>
            <div class="local-login-input-group">
              <input name="password" type="password" class="register-input" id="register-input-password" placeholder="Password" />
              <i class="register-show-password-icon far fa-eye fa-eye-slash"></i>
            </div>
            <div class="local-login-input-group local-submit-input-group">
              <input type="submit" class="register-input register-submit-input" value="Register new account" />
              <i class="fas fa-arrow-right"></i>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="assets/js/home.js"></script>
</body>

</html>