<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video conference Whiteboard</title>
  <link rel='stylesheet' href='/assets/css/whiteboard.css' type="text/css">
</head>
<body>

  <canvas class="whiteboard" ></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color yellow"></div>
  </div>

	<script src="https://unpkg.com/uuid@latest/dist/umd/uuidv4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src='/assets/js/whiteboard.js'></script>
</body>
</html>